*{
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.bloco{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #fcfcfc;
    flex-wrap:wrap-reverse,
    
    
}

.blocoAGENDA{
    width: auto;
    min-height:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px;
    display: grid;
    flex-wrap:wrap-reverse,

}

.form{
    width: 390px;
    background-color: #dbd9d9;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
   
    
}

.formAGENDA{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    width: 400px;
    background-color: #dbd9d9;
    border-radius: 10px;
    overflow: hidden;
    padding: 100px 100px 100px 100px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
        
     
     
    
}

.input{
    font-size: 15px;
    color: #060606;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    padding: 0 5px;


}

.login{
    
    display:flexbox;
    font-size: 30px;
    color: rgb(0, 4, 2);
    line-height: 1.2;
    text-align:center;
    justify-content: center;
    margin: 20px;

}

.input-1{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;

}

.botao{
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #495453;
    
}

.botao-age{
    padding: 20px;
    font-family: helvetica;
    display: grid;
    border-color: #20262e;
    border-radius: 3px;
    font-size: 14px;
    background-color: #04943C;
}
.menu{
   


    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #04943C;
    color:#04943C;
   
  
  
}

.fasipimage{
    width: 150px;


}
.a{
 


  
     a:hover {
         color: #000000;
     }
     
    
     a:active {
         color: blue;
     }

}


